.main-home{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}



.main-content-home{
    display: flex;
    padding: 20px;
    /* border: 1px solid green; */
}

.child {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .postDiv {
    flex: 0 0 70%; /* 0 means flex-grow is 0, 0 means flex-shrink is 0, 60% means flex-basis is 60% */
    background-color: lightblue;
    margin-right: 10px;
  }
  
  .formDiv {
    flex: 0 0 30%; /* 0 means flex-grow is 0, 0 means flex-shrink is 0, 40% means flex-basis is 40% */
    border: 2px solid black;
    border-radius: 30px;
    width: 30%;
    /* background-color: aqua; */
    height: fit-content;
    border-radius: 5px;

  }