.main-div{
    display: flex;
    justify-content: center;
    
    align-items: center;
    gap: 4px;
    border-radius:40px;
    background-color: white;
    margin: 10px;

}
.child1-app{
    border: 1px solid black;
    padding-left: 300px;
    padding-right: 300px;
    border-radius: 100px;

    display: flex;
    gap: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.bg-clr{
    color: rgb(0 183 255)
}